packages/
Tools/BookManagementSystem.Migrator/obj/Debug/BookManagementSystem.Migrator.csproj.BookManagementSystem.Migrator.exe.config
BookManagementSystem.Application/bin/
BookManagementSystem.Application/obj/Debug/BookManagementSystem.Application.csproj.FileListAbsolute.txt
BookManagementSystem.Application/packages.config
BookManagementSystem.Core/bin/Debug/Newtonsoft.Json.xml
BookManagementSystem.Core/obj/Debug/BookManagementSystem.Core.csproj.FileListAbsolute.txt
BookManagementSystem.Core/packages.config
BookManagementSystem.EntityFramework/bin/Debug/Newtonsoft.Json.xml
BookManagementSystem.EntityFramework/obj/Debug/BookManagementSystem.EntityFramework.csproj.FileListAbsolute.txt
BookManagementSystem.EntityFramework/packages.config
BookManagementSystem.Web/Web.config
BookManagementSystem.Web/bin/BookManagementSystem.Web.dll.config
BookManagementSystem.Web/bin/Newtonsoft.Json.xml
BookManagementSystem.Web/obj/Debug/BookManagementSystem.Web.csproj.FileListAbsolute.txt
BookManagementSystem.Web/packages.config
BookManagementSystem.WebApi/app.config
BookManagementSystem.WebApi/bin/Debug/BookManagementSystem.WebApi.dll.config
BookManagementSystem.WebApi/bin/Debug/Newtonsoft.Json.xml
BookManagementSystem.WebApi/obj/Debug/BookManagementSystem.WebApi.csproj.FileListAbsolute.txt
BookManagementSystem.WebApi/packages.config
Tests/BookManagementSystem.Tests/bin/Debug/Newtonsoft.Json.xml
Tests/BookManagementSystem.Tests/obj/Debug/BookManagementSystem.Tests.csproj.FileListAbsolute.txt
Tests/BookManagementSystem.Tests/packages.config
Tools/BookManagementSystem.Migrator/bin/Debug/BookManagementSystem.Migrator.exe.config
Tools/BookManagementSystem.Migrator/bin/Debug/Newtonsoft.Json.xml
Tools/BookManagementSystem.Migrator/obj/Debug/BookManagementSystem.Migrator.csproj.FileListAbsolute.txt
Tools/BookManagementSystem.Migrator/packages.config
BookManagementSystem.EntityFramework/Migrations/
BookManagementSystem.EntityFramework/obj/Debug/
BookManagementSystem.Web/App_Data/Logs/
Tests/BookManagementSystem.Tests/obj/Debug/
BookManagementSystem.WebApi/obj/Debug/
BookManagementSystem.Web/obj/Debug/
